<header class="navbar navbar-fixed-top navbar-inverse header">
  <div class="container navigation">
    <%= link_to "Creative Outlet", root_path %>
    <ul>
      <% if logged_in? %>
      <ul>
        <li> <%= link_to "#{current_user.name}", user_path(current_user.id) %> </li>
        <li> <%= link_to "Logout", logout_path, method: :delete%> </li>
        <li id="add-post"> <%= link_to "+", new_post_path%> </li>
      </ul>
      <% else %>
      <ul>
        <li><%= link_to "Log in", login_path%></li>
        <li><%= link_to "Sign up", new_user_path%> </li>
      </ul>
      <% end %>
    </ul>
  </div>
</header>
